- if current_user.memories.any?
  = button_to "Take me back", memories_path, method: :get, id: 'new_memory'

  .memory
    = @memory.display
  .memory
    = @memory.display2

- else
  %h2= "Import memories from:"
  - current_user.sources_to_import.each do |source|
    = form_tag memories_path, class: 'generate_memories' do
      = hidden_field_tag :source, source
      = submit_tag "", id: "#{source}_submit"
  #initial_loading
    = render '/shared/loading'

  .update
    = "" 
