- if current_user.memories.any?
  = button_to "Take me back", memories_path, method: :get, id: 'new_memory', remote: :true

  .memory
    = @memory.display

- else
  %h2= "Import memories from:"
  - ['twitter', 'tumblr'].each do |source|
    = form_tag memories_path, class: 'generate_memories' do
      = hidden_field_tag :source, source
      = submit_tag "", id: "#{source}_submit"
  #loading
    %svg{ class: "spinner", width:"65px", height:"65px", viewBox:"0 0 66 66", xmlns:"http://www.w3.org/2000/svg"}
      %circle{ class:"path", fill:"none", "stroke-width":"6", "stroke-linecap":"round", cx:"33", cy:"33", r:"30"}

  .update
    = "" 
