!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
    %title Nostalgia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1= link_to "Nostalgia", root_path
      .links
        - if current_user
          - if current_user.chance_of_new_memories?
            = render '/shared/import'
          %span.text_links
            = link_to 'Edit profile', edit_user_registration_path
            = "|"
            = link_to 'Sign out', destroy_user_session_path, {method: :delete}
        - else
          = link_to 'Sign in', new_user_session_path
          = link_to 'Sign up', new_user_registration_path
        
    %p.notice= notice if notice
    %p.alert= alert if alert

    .content
      = yield
